<h1 class="panel-heading text-center" style="font-size:60px"> <%= current_user.username %>'s Favorites </h1>

<% @favorites.each do |favorite| %>

<% if favorite.user_id == current_user.id %>

<tr>
  <div class="jumbotron">
    <div class="container text-center">
      <iframe id="player" style= "max-width:640px"
       width="100%" height="360"
              src="<%= favorite.medium.media_url.gsub("watch?v=","embed/")%>"
      ></iframe>

    </div>
<div class="panel-footer text-center"> <a  href="/media/<%= favorite.medium.id %>" ><%=favorite.medium.title%> </a></div>
<div class="btn-group-justified">
  <h3  class="btn btn-primary score
<% if (favorite.medium.ups - favorite.medium.downs) < 0 %>
text-danger
<% else %>
  text-success
<% end %>
  " style="font-size:30px"> <%= (favorite.medium.ups - favorite.medium.downs) %>
  <% if (favorite.medium.ups - favorite.medium.downs) < 0 %>
<i class="fa fa-arrow-circle-down"> </i>
  <% else %>
<i class="fa fa-arrow-circle-up"> </i>
  <% end %>
</h3>
</div>


<% else %>
<% end %>
<br>
<% end %>
</div>
