
<!-- Score Counter -->
<% userscore = 0 %>
<% @media.each do |medium| %>
<% if medium.user_id == @users.id %>
<%userscore = userscore + (medium.ups - medium.downs) %>
<% else %>
<% end %>
<% end %>
<div class="panel-footer text-center"> </div>
<h1 class="panel-heading text-center" style="font-size:60px"> <%= @users.username %> </h1>
<div class="panel-footer text-center" style="font-size:30px"> Current Score:
  <h1  class="fif score
<% if userscore < 0 %>
text-danger
<% else %>
  text-success
<% end %>
  " style="font-size:30px"> <%= userscore %>
  <% if userscore < 0 %>
<i class="fa fa-arrow-circle-down"> </i>
  <% else %>
<i class="fa fa-arrow-circle-up"> </i>
  <% end %>
</h1>
 </div>

<h1 class="panel-heading text-center" style="font-size:40px"> Uploaded Videos </h1>
<% @media.each do |medium| %>
<% if medium.user_id == @users.id %>
  <div class="jumbotron">
    <div class="container text-center">
      <iframe id="player" style= "max-width:640px"
       width="100%" height="360"
              src="<%= medium.media_url.gsub("watch?v=","embed/")%>"
      ></iframe>
    </div>
<div class="panel-footer text-center"> <a  href="/media/<%= medium.id %>" ><%=medium.title%> </a></div>
<div class="btn-group-justified">
  <h3  class="btn btn-primary score
<% if (medium.ups - medium.downs) < 0 %>
text-danger
<% else %>
  text-success
<% end %>
  " style="font-size:30px"> <%= (medium.ups - medium.downs) %>
  <% if (medium.ups - medium.downs) < 0 %>
<i class="fa fa-arrow-circle-down"> </i>
  <% else %>
<i class="fa fa-arrow-circle-up"> </i>
  <% end %>
</h3>
</div>
</div>

<% else %>
<% end %>
<% end %>
