<div class="page-header">
  <h1>
    Adds
    <a href="/adds/new" class="btn btn-lg btn-success">New Add</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Media</th>
        <th>Playlist</th>
        <th>Actions</th>
      </tr>

      <% @adds.each do |add| %>
      <tr>
        <td><%= add.media_id %></td>
        <td><%= add.playlist_id %></td>
        <td>
          <a href="/adds/<%= add.id %>" class="btn btn-primary">Show</a>
          <a href="/adds/<%= add.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_add/<%= add.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
