<div class="page-header">
  <h3>Playlist #<%= @playlist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @playlist.title %></dd>

      <dt>User</dt>
      <dd><%= @playlist.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/playlists" class="btn btn-primary">
        Back
      </a>
      <a href="/playlists/<%= @playlist.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_playlist/<%= @playlist.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
